{
    "jsc": {
        "parser" : {
            "syntax": "typescript",
            "decorator": true
        },
        "transforma": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    }
}